body {
  text-align: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
}
button {
  background-color: #d9e76c;
  font-size: 1em;
  margin: 50px;
  border: none;
  border-radius: 12px;
  height: 50px;
  width: 80px;
  outline: none;
}

button:hover {
  opacity: 60%;
}

#container {
  display: grid;
  margin: auto;
  /* border: 1px solid; */
  height: 940px;
  width: 940px;
  grid-template-rows: repeat(var(--grid-gridSize), 1fr);
  grid-template-columns: repeat(var(--grid-gridSize), 1fr);
}

#grid-element {
  border: 1px solid;
}
